
@font-face {
  font-family: 'Bungee-Regular';
  src: url('Bungee-Regular.eot?#iefix') format('embedded-opentype'),  url('Bungee-Regular.woff') format('woff'), url('Bungee-Regular.ttf')  format('truetype'), url('Bungee-Regular.svg#Bungee-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
